@import url('https://fonts.googleapis.com/css2?family=Sanchez&family=Raleway:wght@200;400;700&display=swap');

$a-color: #111111;
$b-color: #ff3541;
$c-color: #eee;
$a-type: 'Raleway', Helvetica, Arial, sans-serif;
$b-type: 'Sanchez', Georgia, Times, serif;
$a-width: 96vw;

* {
  margin: auto;
  box-sizing: border-box;
  font-size: 4vw;
}

body {
  background: $a-color;
  font-family: $a-type;
  overflow-x: hidden;
}

a {
  color: $a-color;
  text-decoration: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: flex-start;
  width: $a-width;
  margin: 2vw auto;
  div {
    margin: auto 1vw;
  }
  h1, h2 {
    font-size: 1.3rem;
    line-height: 1rem;
    color: $b-color;
  }
  h2 {
    font-weight: 400;
  }
  .logo {
    img {
      width: 10vw;
    }
  }

}

nav {
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 10vw;
  position: absolute;
  top: 0;
  width: $a-width;
  margin: 0.5vw auto;
  button {
    border: 0;
    padding: 0;
    width: 10vw;
    height: 10vw;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      width: 10vw;
      height: 1.2vw;
      background: $b-color;
    }
  }
  > div {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: $a-color;
    transition: all 0.5s ease;
    &.showHide {
      visibility: visible;
      opacity: 1;
    }
    div {
      display: flex;
      width: 10vw;
      height: 10vw;
      line-height: 0;
      margin: 2vw 0;
      background: $b-color;
      border-radius: 100%;
      img {
        width: 8vw;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2vw;
  width: $a-width;
  margin-bottom: 4vw;
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vw 1fr;
    border: 1px solid $b-color;
    img, .triangle, .itemHead {
      grid-column: 1;
      grid-row: 1;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
    }
    img {
      object-fit: cover;
    }
    .triangle {
      background: $a-color;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
    .itemHead {
      z-index: 1;
      grid-template-columns: 1fr;
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right;
      h3 {
        margin: 0 1vw 0 0;
        color: $c-color;
        font-size: 2.5rem;
      }
      h4 {
        margin: 0 1vw 0.5vw 0;
        color: $b-color;
        font-weight: 400;
        font-size: 1.8rem;
      }
    }
    &:hover .triangle, &:hover .itemHead {
      opacity: 0.6;
    }
  }
}

#overlay {
  z-index: 49;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  transition: 0.3s;
  &.showHide {
    visibility: visible;
    opacity: 0.8;
  }
}

#modal {
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  width: 95vw;
  min-width: 300px;
  max-width: 800px;
  height: 90vh;
  top: 1vh;
  left: 0;
  right: 0;
  background: $a-color;
  border: 1px solid $b-color;
  transition: 0.3s;
  &.showHide {
    visibility: visible;
    opacity: 1;
  }
  #itemBody {
    width: 100%;
    height: 100%;
    color: $c-color;
    overflow-y: scroll;
    transition: all 0.5s ease;
    &.showHide {
      visibility: visible;
      opacity: 1;
    }
    h4 {
      margin: 1vw;
      color: $c-color;
      font-size: 15px;
    }
    h5 {
      padding: 5px 10px;
      font-size: 15px;
      background: $b-color;
    }
    p {
      margin: 2vh;
      font-family: $b-type;
      font-size: 15px;
    }
  }
}

#exit {
  z-index: 51;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 8vh;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid $b-color;
  text-align: center;
  color: $c-color;
  background: #000;
  &.showHide {
    visibility: visible;
    opacity: 1;
  }
  &:before {
    content: '+';
    display: block;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 800px) {

  header {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: right;
    max-height: 1rem;
    h1, h2 {
      font-size: 0.5rem;
      line-height: 0.4rem;
      color: $b-color;
    }
    .logo {
      img {
        width: 4vw;
      }
    }
  }
  nav {
    grid-template-columns: 1fr;
    top: 1vw;
    right: 2vw;
    width: 11vw;
    margin: 1.5vw auto;
    button {
      display: none;
    }
    > div {
      visibility: visible;
      opacity: 1;
      justify-content: space-between;
      right: 0;
      width: 11vw;
      div {
        width: 3vw;
        height: 3vw;
        margin: 0;
        background: $b-color;
        border-radius: 100%;
        img {
          width: 2vw;
        }
      }

    }
  }
  main {
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    section {
      grid-template-rows: calc(20vw + 10vh);
      cursor: pointer;
      .itemHead {
        h3 {
          font-size: 1rem;
        }
        h4 {
          font-size: 0.6rem;
        }
      }
    }
  }
  #modal {
    #itemBody {
      overflow-y: scroll;
      h4, h5 {
        font-size: 20px;
      }
      h5 {
        padding: 5px 0 10px 15px;
        color: $a-color;
      }
      p {
        margin: 1vw;
        font-size: 18px;
      }
    }
  }
  #exit {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}